@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 10px;
}

a,
img {
  user-select: none;
  text-decoration: none;
}

body {
  color: #333;
  font-family: "メイリオ", Meiryo, "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Yu Gothic", Arial, Helvetica, sans-serif;
}


/* container */
.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1010px;
}

/* ヘッダー上部 */
.header-contents {}

.area-header-top {
  /* background-color: rgb(219, 219, 219); */
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

.header-logo {
  display: block;
}

.header-logo img {
  height: 34px;
  vertical-align: bottom;
}

.area-header-search {
  margin-left: auto;
}

/* ヘッダー下部 */
.area-header-bottom {
  background-color: #008277;
  height: 40px;
}

.area-header-bottom>.container {
  height: 100%;
}

.list-header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0;
}

.list-header-nav a {
  display: block;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
}

/* ヘッダーバー */
.header-bottom-bar {
  box-shadow: inset 0px 15px 20px -15px rgb(0 0 0 / 9%);
  height: 14px;
  background-color: #f7f7f5;
  border-bottom: 1px solid #d0cec9;
}

/* パンくず */
.Breadcrumb {
  font-size: 13px;
  margin: 15px auto;
  width: 990px;
}

.Breadcrumb-list {
  display: inline-block;
}

.Breadcrumb-list:not(:last-child):after {
  content: '>';
  margin: 0 5px;
  color: #838383;
  font-size: 1.7rem;
}

.Breadcrumb-list a {}

.Breadcrumb-list span {
  color: #006acc;
}

/* メインヘッド */
.main-head {
  border-bottom: 3px solid #008277;
  margin: 20px 0 20px;
  padding-bottom: 2px;
}

.main-head .main-head-ttl {
  font-size: 26px;
  color: #524939;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.main-head span:nth-of-type(even) {
  font-size: 20px;
  padding: 0 3px;
}

/* クリニック一覧 */
.clinic-search {
  width: 990px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.clinic-result {
  width: 660px;
}

/* クリニック結果ボックス */
.clinic-result-box {
  /* margin-top: 20px; */
}
.clinic-result-item {
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #f7f7f5;
}
.clinic-result-item-ttl {
  background-color: #008277;
  border-radius: 4px 4px 0 0;
  margin: -1px -1px 0;
  padding: 8px 14px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.clinic-name {
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}
.clinic-detail{
  padding: 10px 20px 25px;
}
.clinic-detail-list {
}
.clinic-detail-item {
  margin-top: 15px;
}
.clinic-detail-item img {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
  margin-right: 10px;
  filter: opacity(75%);
}
.clinic-detail-item span {
  color: #424242;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.clinic-detail-item span:not(:last-child)::after {
  content: "";
  background-color: #b3b3b3;
  height: 1em;
  width: 1px;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 10px;
}

/* ページネーション */
#pagination-count {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  letter-spacing: 0.18em;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  list-style-type: none;
  padding: 15px;
}

.pagination a {
  background-color: #f2f2f2;
  color: #888787;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  font-size: 14px;
  -webkit-user-drag: none;
}

.pagination li.is-disabled a {
  background-color: #c9c9c9;
  pointer-events: none;
}
.pagination li.is-current a {
  background-color: #008277;
  color: #fff;
  pointer-events: none;
}

/* クリニックソート */
.clinic-sort {
  width: 300px;
}
.search-condition {
  /* margin-top: 20px; */
}
.search-condition-ttl {
  background-color: #008277;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px 10px;
}
.search-condition-box {
  background-color: #f7f7f5;
  border: 1px solid #d6d6d6;
  padding: 15px 10px 15px;
}
.search-subject-ttl {
  font-size: 14px;
  font-weight: 600;
}
.subject-box-list {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subject-box-item {
  background-color: #fff;
  width: 49%;
  border: 1px solid #524939;
  border-radius: 4px;
  box-shadow: 0 3px 0 #c0c0c0, inset 0 -2px 0 0 #e1e1e1;
  margin: 5px 0;
  display: inline-block;
  user-select: none;
}
.subject-box-item:hover {
  opacity: .8;
}
.subject-box-item.current {
  opacity: .6;
  transform: translateY(2px);
  box-shadow: 0 1px 0 #898989, inset 0 -2px 0 0 #e1e1e1;
}

.subject-box-item a {
  color: #424242;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 2.2;
  letter-spacing: 0.1em;
  -webkit-user-drag: none;
}

/* エリア検索 */
.search-region {
  margin-top: 20px;
}

/* セレクトボックス */
.select-box {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.select-box::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top:50%;
  right: 15%;
  transform: translateY(-65%) rotate(135deg);

  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 10px;
  height: 10px;
  border: 2px solid #008277;
  border-left: 0;
  border-bottom: 0;
}
.select-box select {
  width: 80%;
  aspect-ratio: 6/1;
  cursor: pointer;
  text-indent: 3%;
  border: 2px solid #008277;
  border-radius: 4px;
  font-size: 13px;
  outline: none;
  color: #424242;
  appearance: none;
}



/* フッター */
footer {
  margin-top: 60px;
}

/* フッターSNS */
.sns-section {
  background-color: #f7f7f5;
}

.sns-section .container {
  padding-top: 30px;
  padding-bottom: 20px;
}

.area-sns-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-btn {
  display: flex;
}

.sns-btn li a {
  display: block;
  margin: 0 5px;
  padding: 0px 15px;
}

.sns-btn-item img {
  width: 40px;
}

.area-sns-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.sns-desc p {
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.15em;
  font-weight: 600;
}


/* フッターcorp */
.corp-section {
  background-color: #008277;
}

.corp-section .container {
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}

.corp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.corp-list a {
  color: #fff;
  font-size: 14px;
}

.corp-list li:not(:last-child)::after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 5px;
  vertical-align: middle;
  width: 5px;
}

.footer-copyright {
  color: #fff;
  font-size: 14px;
  text-align: center;
  /* display: flex;
  justify-content: center; */
}